body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    justify-content: center;
    margin: 0;
}

#woman {
    margin: 64px 199px 63px;
}

h1 {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    color: #3F3D56;
}

h1 span {
    color: #EE24FF;
    font-weight: bold;
}

p {
    color: #828282;
}

strong {
    color: #3F3D56;
}

.line {
    border: 1px solid #ECEFF2;
}

#footer {
    font-weight: bold;
    color: #3F3D56;
}

#footer a + a {
    margin-left: 42px;
}