body {
    font-family: "Open Sans", sans-serif;
    text-align: center;

}

#woman {
    margin: 64px auto 100px;
    width:626px;
    height: 486px;
}

h1 {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    color: #3F3D56;
}

h1 span {
    color: #EE24FF;
    font-weight: bold;
}

p {
    color: #828282;
}

p span {
    color: #3F3D56;
    font-weight: bold;    
}

.line {
    width: 391px;
    border: 1px solid #ECEFF2;

    margin: 16px auto;
}

#footer {
    font-weight: bold;
    color: #3F3D56;
}

#footer a + a {
    margin-left: 42px;
}

#wave {
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
}